.app-name {
  font-size: 34px;
}

button {
  background: none;
  border: 0;
}

textarea.form-control {
  resize: none;
  height: 500px;
}

.green {
  color: green;
}

.red {
  color: red;
}

audio {
  width: 100%;
}

.edit-lyric {
  display: none;
}

.lyric-show {
  width: 70%;
  padding: 10px;
  margin: auto;
  font-size: 30px;
  font-weight: 600;
}
